.fullsize {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 120px 1fr;
}

.btn {
  font-family: "SCDream5";
  border-radius: 10px;
  font-size: 1.5rem;
  border: none;
  width: 40%;
  padding: 10px 100px;
  display: block;
  margin: auto;
}

button:hover {
  background: #0066ff;
}

.make_meeting {
  margin-bottom: 10px;
  /* margin-top: 500px; */
}

/*

.join_meeting {
  position: absolute;
  top: 50%;
  transform: translate(50%, 50%);
} */
