<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/joinMeeting.css" />
    <title>Join in meeting</title>
  </head>
  <body>
    <div id="join">
      <div class="item">
        <input type="text" name="code" placeholder="참가 코드 입력" />
      </div>
      <div class="item">
        <button type="button">회의 참가하기</button>
      </div>
    </div>
  </body>
</html>
