<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/Screen.css" />
    <title>Document</title>
  </head>
  <body>
    <script></script>
    <div class="fullsize row">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="col">
        <button type="button" class="btn">Tool Box</button>
        <button type="button" class="btn">MIC ON/OFF</button>

        <button type="button" class="btn tts">TTS</button>

        <button type="button" class="btn stt">STT</button>
        <button type="button" class="btn">채팅창</button>
      </div>
    </div>
  </body>
</html>
